div.author{
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
	height: 600px;
	div{
		&.img{ 
			float:left;
			height: 500px;
			margin-right: 20px;
			img{
				height: 100%;
			}
		}
	}

	p{
		font-family: Poiret One;
		font-size: 18px;
		span{
			font-size: 30px;
		}
	}
}