---
title: Kathy Izard
description: Site Description
image:
url:
---

<ul class="example-orbit" data-orbit>
  <li>
    <img src="/images/Agave.png" alt="slide 1" />
    <div class="orbit-caption">
      Instructions for Living a Life: Pay Attention. Be Astonished. Tell About it.<br>
          ~Mary Oliver
    </div>
  </li>
  <li class="active">
    <img src="/images/Green.png" alt="slide 2" />
    <div class="orbit-caption">
      Just tell 'em I'm a nobody that's tryin' to tell everybody 'bout Somebody that can save anybody.<br>
          ~Denver Moore
    </div>
  </li>
  <li>
    <img src="/images/Leaves.png" alt="slide 3" />
    <div class="orbit-caption">
      Tell me. What is it you plan to do with your one wild and precious life?<br>
          ~Anonymous
    </div>
  </li>
</ul>

<div class="orbit-container">

  <!-- Navigation Arrows -->
  <a href="#" class="orbit-prev">Prev <span></span></a>
  <a href="#" class="orbit-next">Next <span></span></a>
</div>

<div class='row content'>
  <div class="large-4 medium-4 small-12 columns kathy"><a href="/#kathyizard">
    <h6>About Kathy</h6>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    </a>
  </div>
  <div class="large-4 medium-4 small-12 columns book"><a href="/#called-home">
    <h6>Her Book</h6>
    <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
    </div>
    </a>
  </div>
  <div class="large-4 medium-4 small-12 columns passion"><a href="/#quietgood">
    <h6>Your Passion</h6>
    <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
  </div>
    </a>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<main>
<section id='called-home'>
<div class="called-home">
  <div>
  <h1>Called Home</h1>
  <p><img src='/images/called-home.png'/>Lorem ipsum Duis in est do non cillum ea ad mollit sed qui nulla officia exercitation ex amet in ea ut occaecat laboris Ut culpa velit ad in do cupidatat in minim cillum dolore dolore ad aliqua labore aliqua ex Excepteur esse esse laboris culpa laborum mollit minim enim ea minim in deserunt dolore officia pariatur sit tempor sint ad ut et dolor dolor do Ut cillum id eu ex ut proident sit in deserunt laboris ut incididunt in enim ea eiusmod laboris et in velit ea incididunt occaecat dolore occaecat pariatur exercitation aliqua anim aliqua ad esse ad aliquip velit Duis in anim proident veniam anim consectetur deserunt fugiat ad nostrud sint exercitation ea commodo consequat ullamco eu id Ut esse ex fugiat labore qui laborum reprehenderit enim ad laborum tempor in Duis <br><br>Laboris consectetur nostrud labore sed sunt magna non dolore esse nulla in do cillum magna proident enim et ut non consectetur tempor esse ut labore esse ullamco proident tempor id consequat veniam laboris eiusmod Excepteur do Excepteur laborum reprehenderit sunt esse eiusmod sint nulla Duis dolor laborum exercitation velit amet et commodo consequat in veniam in magna magna veniam dolor sint dolore eiusmod ullamco nulla Duis sit ad nulla ullamco reprehenderit nulla ex sit ut minim dolore id officia ex ad cillum in dolor nostrud commodo id ad sint labore labore nostrud enim Duis consequat in est.
  <br><br>
  <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fkathyizard.com/called-home" target="_blank"><i class="fa fa-facebook"></i></a>
  <i class="fa fa-shopping-cart"></i>
  </p>
</div>
</div>
</section>
<section id='kathyizard'>
<div class='author'>
  <div class='img'><img src="/images/kathy-izard.jpeg"/></div>
<p><span>Kathy Izard</span><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>
</section>
<section id='moore-place'>
<div class='moore'>
  <p><span><a href='http://www.urbanministrycenter.org'>Moore Place</a></span><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
  <iframe src="//player.vimeo.com/video/102030931?1" width="420" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<section>
<section id='the-meeting'>
<div class='meeting'>
  <div class='img1'><img src='/images/ron-denver.png'/></div>
  <p><span>The Meeting</span><br>Lorem ipsum Commodo aliquip nisi commodo mollit consectetur ad exercitation in dolor non eu reprehenderit occaecat in reprehenderit non exercitation consectetur irure nisi cillum occaecat aute quis labore incididunt velit sed cillum labore velit ex cupidatat pariatur consectetur exercitation Excepteur exercitation proident est dolore id sunt velit laborum ea laboris sint sed commodo occaecat ea deserunt incididunt laboris proident in sint amet ad laboris aute qui nisi veniam cillum aute eu occaecat id Ut voluptate sint qui eiusmod amet nostrud culpa qui sint eiusmod elit tempor quis occaecat pariatur voluptate aute dolor ullamco <br><br>dolor consequat adipisicing mollit proident aliqua proident nulla aute sint sed et ullamco exercitation et cillum incididunt amet culpa consequat eiusmod sit amet laboris do sit cillum Excepteur ea ut sit nostrud Excepteur sed non in incididunt labore eu eu nostrud nostrud in ea ea ex eu cillum et labore id est officia anim enim in ut velit anim nulla ullamco elit quis in voluptate laborum Ut aliqua Excepteur deserunt quis veniam voluptate reprehenderit est consequat dolor eiusmod proident dolor sint do occaecat nulla amet et ex ut tempor dolore exercitation culpa in nisi do ullamco non esse sint in elit qui aliqua reprehenderit non </p>
</div>
</section>

<section id='quietgood'>
<div class='quietgood'>
  <p><span>What's Calling You?</span><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
  <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</section>
<section id='connect'>
<div class="contact-content email-box" id="email_box">
  <p>
  Consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <form id="contactUsForm" data-abide="ajax">
    <div>
      <label><input type="text" pattern="[a-zA-Z]+" name="Name" placeholder="Name" required></label>
      <small class="error">Please enter a valid name</small>
    </div>
    <div>
      <label><input type="email" pattern="email" name="Email" placeholder="Email" required></label>
      <small class="error">Please enter a valid email</small>
    </div>
    <div>
      <label><input type="text" pattern="phone" name="Phone" placeholder="Phone" required></label>
      <small class="error">Please enter a valid 10-digit phone number</small>
    </div>
    <div>
      <label><textarea name="message" name="Message" cols="5" rows="3" placeholder="Message" required></textarea></label>
      <small class="error" >Please enter a message</small>
    </div>
    <div>
      <button type="submit" id="send_contact">Send</button>
        <small class="success">Thank you for reaching out to us. We'll be in touch soon!</small>
    </div>
  </form>
</div>
</section>
</main>